@import "../../layout/_mixins";

:root {
  --text-align: left;
  --overlay-display: grid;
  --overlay-index: 100;
  --image-opacity: 1;
}

.home {
  &-container {
    padding: calc(var(--nav-height) + 10px) 5vw;
    animation: move-alt alternate forwards;
    animation-timeline: scroll(block nearest);

    &.inView {
      --animation-name: slideX;
      --label-animation: blinks;
    }
  }
  &-content {
    max-width: 650px;
    display: grid;
    height: calc(100vh - 150px);
    min-height: 550px;
    align-items: center;
    align-content: center;
    justify-items: var(--text-align);
    // display: none;
    &-button {
      margin-top: 30px;
      height: 43px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: var(--text-align);
      column-gap: 30px;

      div {
        display: grid;
        align-content: center;
        padding: 0 24px;
        border-radius: 6px;
        border: 2px solid var(--gold);
        position: relative;
        cursor: pointer;
        &::before {
          align-self: center;
          justify-self: start;
          z-index: 2;
          color: var(--bg-color);
          transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          font-weight: 500;
        }
        &::after {
          transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          content: "";
          position: absolute;
          z-index: 0;
          width: 100%;
          height: 100%;
          background-color: var(--gold);
        }
      }

      :first-child {
        &::before {
          content: "Hire Me";
          width: 100%;
        }
        &::after {
          left: 0;
          background-color: var(--gold);
        }
        &:hover::before {
          color: #ffffff;
        }
        &:hover::after {
          right: 0;
          width: 0%;
        }
      }
      :last-child {
        &::before {
          content: "Let's Talk";
          width: 100%;
          color: #ffffff;
        }
        &::after {
          left: 0;
          width: 0;
        }
        &:hover::before {
          color: var(--bg-color);
        }
        &:hover::after {
          left: 0;
          width: 100%;
        }
      }
    }
    &-social {
      margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 20px;

      div {
        padding: 7px;
        border: 2px solid var(--gold);
        display: grid;
        align-content: center;
        justify-content: center;
        border-radius: 50%;
        width: clamp(20px, 3vw, 26px);
        height: clamp(20px, 3vw, 26px);
        position: relative;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        i {
          margin-top: 1px;
          font-size: clamp(20px, 3vw, 26px);
          color: var(--bg-color);
          position: absolute;
          z-index: 2;
          color: var(--gold);
          align-self: center;
          justify-self: center;
          transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }

        span {
          transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          position: absolute;
          z-index: 1;
          width: 0;
          height: 100%;
          background-color: var(--gold);
          
        }

        &:hover > span {
          width: 100%;
        }
        &:hover > i {
          color: var(--bg-color);
        }
      }
    }
    &-name {
      font-size: clamp(26px, 6vw, 52px);
      font-weight: 600;
      position: relative;

      &::after {
        @include slideXAnimation(0.1s);
      }
    }

    &-label {
      display: grid;
      padding-top: 10px;
      font-family: sans-serif;
      font-size: clamp(18px, 2.5vw, 26px);
      color: var(--bg-color);
      -webkit-text-stroke: 0.7px var(--gold);
      text-stroke: 0.7px var(--gold);
      -webkit-background-clip: text;
      background-clip: text;
      position: relative;
      opacity: 0;
      animation: var(--label-animation) 1s linear 0.5s forwards;

      &::after {
        content: "Software Engineer";
        color: var(--gold);
        position: absolute;
        width: 0%;
        height: 80%;
        justify-self: start;
        padding-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        animation: write 5s linear 2s infinite forwards;
      }

      &::before {
        content: "";
        margin-top: 9px;
        position: absolute;
        z-index: 1;
        border-right: 1px solid var(--gold);
        height: 70%;
        width: 0%;
        padding-right: 1px;
        animation: write 5s linear 2s infinite forwards;
      }
    }
    &-text {
      position: relative;
      font-size: clamp(16px, 2vw, 20px);
      font-weight: 300;
      padding-top: 20px;
      line-height: 1.4;
      text-align: var(--text-align);

      &::after {
        @include slideXAnimation(0.7s);
      }
    }
  }
  &-image {
    position: fixed;
    z-index: -1;
    opacity: var(--image-opacity);
    right: clamp(5vw, 200px, 15vw);
    top: calc(77px + 5vw);
    animation: move alternate forwards;
    animation-timeline: scroll(block nearest);

    &::after {
      @include slideXAnimation(1.2s);
    }
    img {
      width: clamp(250px, 60vw, 450px);
      height: clamp(200px, 70vw, 500px);
      object-fit: cover;
      object-position: 100% 0;
      overflow: hidden;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
    }
  }
}

.overlay {
  animation: overlay alternate forwards;
  animation-timeline: scroll(block nearest);
  position: fixed;
  z-index: var(--overlay-index);
  width: clamp(280px, 65vw, 500px);
  height: clamp(200px, 70vw, 500px);
  right: clamp(5vw, 200px, 10vw);
  top: calc(77px + 5vw);
  display: var(--overlay-display);
  background: radial-gradient(
    circle at 40% 15%,
    #1b1a1710,
    #1b1a1742,
    #1b1a17ad,
    var(--bg-color),
    var(--bg-color)
  );
  &::after {
    transition: 1s ease all;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(
      circle at 40% 15%,
      #1b1a1750,
      #1b1a17a0,
      #1b1a17b9,
      var(--bg-color),
      var(--bg-color)
    );
  }

  &:hover::after {
    opacity: 0;
  }
}
@keyframes write {
  0% {
    width: 0;
  }
  60% {
    width: 102%;
  }
  75% {
    width: 0;
  }
}

@keyframes slideX {
  to {
    width: 0 !important;
    visibility: hidden;
  }
}

@keyframes blinks {
  to {
    opacity: 1;
  }
}

@keyframes move {
  10% {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 0;
    transform: scale(5) translateY(calc(var(--nav-height) * 1.1));
  }
}

@keyframes overlay {
  10% {
    opacity: 0;
  }
  40% {
    transform: scale(5) translateY(calc(var(--nav-height) * 1.1));
  }
  41% {
    transform: scale(0);
    z-index: -1 !important;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes move {
  0% {
    z-index: -1 !important;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: scale(5) translateY(calc(var(--nav-height) * 1.1));
  }
}

@keyframes move-alt {
  0% {
    background: linear-gradient(to top, #1b1a17, #1b1a1740, transparent);
    // background: #1b1a17e6;
  }
  1% {
    background: linear-gradient(to top, #1b1a17, #1b1a1785, transparent);
  }
  100% {
    background: linear-gradient(to top, #1b1a17, #1b1a1790, transparent);
  }
}

@media screen and (max-width: 600px) {
  :root {
    --text-align: center;
  }
}

@media screen and (max-width: 1320px) {
  :root {
    --overlay-display: none;
    --overlay-index: -1;
    --image-opacity: 0.15;
  }
}
